body {
    background-image: url("../img/fondo-papel.jpg");
}
.jumbotron{
    background-color: #005266;
    color: white;
}
.panel-heading{
    background-color: #ff8533 !important;
    color: white !important;
}
.panel-body{
    color: #2b2b2b !important;
}
.navbar{
    background-color: #2b2b2b;
    /*background-color: #ffd480; */
}
.navbar-brand:link, .navbar-brand:visited{
    color: #ffd480 !important;
}
.navbar-brand:hover, .navbar-brand:active{
    color: white !important;
}
#navbar li a:link, #navbar li a:visited{
    color: white !important;
}
#navbar li a:hover, #navbar li a:active{
    color: #ffd480 !important;
}
.btn-default{
    background-color: #005266 !important;
    color: white;
}
.btn-default:hover{
    background-color: #4682B4 !important;
    color: white !important;
}
.btn-danger{
    background-color: #FC5050 !important;
    color: white;
}
.btn-danger:hover{
    background-color: #F85A5A !important;
    color: white !important;
}

#titulo{
    background-color: #005266;
    color: white;
}

.dropdown-menu{
    background-color: #2b2b2b !important;
}

.dropdown-menu a:hover{
    background-color: #2b2b2b !important;
}

.open > a{
    background-color: #2b2b2b !important;
}

#publicaciones{
    color: #ffd480;
    background-color: #2b2b2b !important;
}

.contenido-articulo{
    background-color:#2b2b2b !important;
    color: white;
    padding: 2em !important;
}

.sidebar{
    background-color: #2b2b2b;
    color: #D1CDC5;
    padding-top: 2em;
    padding-bottom: 2em;
}

.tamaño{
    padding-left: 2em !important;
    padding-right: 2em !important;
}

.color-publicacion a:link, .color-publicacion a:visited{
    color: #D29808 !important;
}

.color-publicacion a:hover, .color-publicacion a:active{
    background-color: #D29808 !important;
    color: white !important;
}

.color-comentario a:link, .color-comentario a:visited{
    color: #005266 !important;
}

.color-comentario a:hover, .color-comentario a:active{
    background-color: #005266 !important;
    color: white !important;
}

.color-favorito a:link, .color-favorito a:visited{
    color: #F85A5A !important;
}

.color-favorito a:hover, .color-favorito a:active{
    background-color: #F85A5A !important;
    color: white !important;
}

.gg-elemento{
    padding-top: 1em;
    padding-bottom: 1em;
}
.gg-elemento:hover{
    background-color: #2b2b2b!important;
    color: whitesmoke!important;
}

.division{
    border : 0.2em solid whitesmoke !important;
    margin-bottom : 1.2em !important;
}

.division-contraste{
    border : 0.2em solid black !important;
    margin-bottom : 1.2em !important;
}
#gg-publicaciones{
    background-color: #D29808;
    color: whitesmoke;
}

#gg-comentarios{
    background-color: #005266;
    color: whitesmoke;
}

#gg-favoritos{
    background-color: #F85A5A;
    color: whitesmoke;
}



