body {
    background-image: url("../img/fondo-papel.jpg");
}
.jumbotron{
    background-color: #005266;
    color: white;
}
.panel-heading{
    background-color: #ff8533 !important;
    color: white !important;
}
.panel-body{
    color: #2b2b2b !important;
}
.navbar{
    background-color: #2b2b2b;
    /*background-color: #ffd480; */
}
.navbar-brand:link, .navbar-brand:visited{
    color: #ffd480 !important;
}
.navbar-brand:hover, .navbar-brand:active{
    color: white !important;
}
#navbar li a:link, #navbar li a:visited{
    color: white !important;
}
#navbar li a:hover, #navbar li a:active{
    color: #ffd480 !important;
}
.btn-default{
    background-color: #005266 !important;
    color: white;
}
.btn-default:hover{
    background-color: #4682B4 !important;
    color: white !important;
}

#titulo{
    background-color: #005266;
    color: white;
}

.dropdown-menu{
    background-color: #2b2b2b !important;
}

.dropdown-menu a:hover{
    background-color: #2b2b2b !important;
}

.open > a{
    background-color: #2b2b2b !important;
}

#publicaciones{
    color: #ffd480;
    background-color: #2b2b2b !important;
}

.contenido-articulo{
    background-color:#2b2b2b !important;
    color: white;
    padding: 2em !important;
}

